<div class="w-full">
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-3xl font-bold text-gray-900"><%= t("users.index.title") %></h1>
  </div>

  <%= render "list", users: @users %>
</div>
