<div class="relative">
  <div class="absolute inset-0 flex items-center">
    <div class="w-full border-t border-gray-300"></div>
  </div>
  <div class="relative flex justify-center text-base">
    <span class="px-2 bg-white text-gray-500"><%= t("views.common.or") %></span>
  </div>
</div>

<div class="mt-4">
  <%= link_to invitation_consume_path,
      class: "btn-default w-full gap-2" do %>
    <%= t("views.invitations.use_invitation_code") %>
  <% end %>
</div>
